<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.springframework.org/schema/security"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security 
	http://www.springframework.org/schema/security/spring-security.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util.xsd">

	<bean class="org.springframework.beans.factory.config.CustomScopeConfigurer">
		<property name="scopes">
			<map>
				<entry key="view">
					<bean class="com.zan.portal.utils.ViewScope" />
				</entry>
			</map>
		</property>
	</bean>

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>messages</value>
				<value>errors</value>
				<value>application</value>
			</list>
		</property>
	</bean>

	<sec:http use-expressions="true">
		<sec:intercept-url pattern="/admin/**" access="hasRole('admin')" />
		<sec:form-login />
		<sec:logout logout-success-url="/" delete-cookies="JSESSIONID" />
		<sec:remember-me />
		<sec:session-management invalid-session-url="/">
			<sec:concurrency-control max-sessions="1" />
		</sec:session-management>
	</sec:http>

	<sec:authentication-manager>
		<sec:authentication-provider>
			<sec:user-service>
				<sec:user name="max" password="youridea" authorities="admin" />
			</sec:user-service>
		</sec:authentication-provider>
	</sec:authentication-manager>

	<context:component-scan base-package="com.zan.portal" />

	<beans profile="dev">
		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource">
			<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://127.0.0.1:3306/portal" />
			<property name="username" value="root" />
			<property name="password" value="" />
		</bean>
	</beans>

	<beans profile="prod">
		<bean id="dataSource"
			class="org.springframework.jdbc.datasource.DriverManagerDataSource"
			factory-bean="datasourceAdapter" factory-method="buildDataSource"
			lazy-init="true">
		</bean>
	</beans>
</beans>