#main_slider{ overflow: hidden; width:885px; padding: 15px 15px 40px 15px; border: 1px solid; -webkit-box-shadow:0 0 10px black;-moz-box-shadow:0 0 10px black;}
ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;display:block;padding:10px;background:#fff;color:#000;text-decoration: none;}
ul.bjqs-controls.v-centered li a:hover{background:#000;color:#fff;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;padding:5px 10px;background:#000;color:#fff;margin:5px;text-decoration: none;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;background: rgba(255,255,255,0.5);}
ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{background: #999;}