body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	font-size: 12px;
	margin: 0 auto;
	color: #757575;
	background-color: #fff
}

.clear {
	clear: both
}

p {
	padding: 5px 0;
	margin: 0;
	text-align: left;
	line-height: 20px
}

a {
	text-decoration: none
}

a img {
	border: 0
}

a:hover {
	text-decoration: none
}

h1,h2,h3 {
	font-weight: bolder;
	color: #252525;
	margin: 0;
	padding: 0
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
}
/* Structure */
#wrapper {
	margin: auto;
	width: 1000px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4)
}

.header-wrapper,.main-wrapper {
	padding: 0 15px 0 15px
}

.main-wrapper {
	min-height: 400px;
}

.general-wrapper {
	padding: 10px 10px;
}

.g-wrapper-left {
	float: left;
	width: 22%
}

.g-wrapper-right {
	float: right;
	width: 75%
}

/* Footer */
.footer-holder {
	background: #d8621f url(/resources/images/footerbg.png) center repeat;
	border-bottom: 1px solid #8f390a;
	height: 20px
}

.copyright {
	text-align: center;
	background: #ad4104;
	border-top: 1px solid #fb955d;
	line-height: 60px;
	color: white
}

.copyright span {
	margin-right: 50px
}

/* Header */
.wrap-top {
	margin: 0 auto;
	width: 99%
}

.nav-wrapper {
	position: absolute;
	top: 0;
	width: 850px;
	margin: 0 50px
}

.currentNav {
	font-weight: bolder;
}

.nav-wrapper h1 {
	margin: 10px 0 0 10px;
	color: white;
	padding: 10px 0
}

.menu-wrapper {
	background: rgba(255, 255, 255, 0.85);
	background: url(/resources/images/menu-bg.png) repeat;
	border: 3px solid #e9ceb2;
	border-radius: 7px;
	-moz-box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.3);
	box-shadow: 2px 3px 8px 0 rgba(0, 0, 0, 0.3);
	margin: 10px 0 0 10px;
	position: relative
}

.menu-item {
	list-style: none;
	position: relative;
	z-index: 10;
	margin: 13px 0 10px 7px;
	padding: 0
}

.menu-item li {
	position: relative;
	display: inline;
	font-size: 16px;
	margin: 0
}

.menu-item li a {
	color: #444;
	padding: 0 25px;
	border-right: 2px solid silver
}

.menu-item li:last-child a {
	border-right: 0
}

.slider-wrapper {
	font-weight: normal;
	padding-bottom: 38px;
	margin-top: 0;
	background: url(/resources/images/slider-shadow.png) bottom center
		no-repeat;
	background-size: 800px 41px
}

.generalHeaderStyle {
	overflow: hidden;
	height: 200px
}

/* Home Page*/
.day-tip {
	background: url(/resources/images/shadow-index.png) bottom center
		no-repeat;
	text-align: center
}

.day-tip h1 {
	padding-bottom: 30px;
	font-family: cursive
}

.feature-content {
	background: url(/resources/images/shadow-index.png) bottom center
		no-repeat;
	overflow: hidden;
	padding: 0 5px 20px 5px;
	margin-bottom: 0
}

.feature-content .feature-content-inner {
	width: 300px;
	float: left;
	cursor: pointer;
	padding: 0 10px 10px 10px
}

.feature-content .feature-content-inner .feature-content-text {
	border: 1px solid #b8b7b3;
	border-bottom: 2px solid #b8b7b3;
	border-top: 0;
	padding-top: 15px;
	padding: 20px 10px 25px 10px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-o-transition: all .2s linear
}

.feature-content .feature-content-inner .feature-content-text h3 {
	padding-bottom: 10px
}

.sub-menu>a:FIRST-CHILD .ui-menuitem-text,.sub-menu>span:FIRST-CHILD {
	padding-left: 20px
}

.g-wrapper-left .ui-menu {
	width: 99%;
}

.ui-menuitem-text {
	font-family: Arial, Helvetica, sans-serif;
}

.adminWrapper {
	width: 99% !important;
}

.docUpdateTime {
	margin: 10px 0px;
}